<h2><i class="fa fa-fw fa-folder-o"></i> Albums</h2>

<div class="row">
  <% @albums.regular.each do |album| %>
    <%= partial :key_photo, locals: { album: album } %>
  <% end %>
</div>

<div class="clearfix"></div>

<h2><i class="fa fa-fw fa-calendar-o"></i> Projects</h2>

<div class="row">
  <% @albums.projects.each do |project| %>
    <%= partial :key_photo, locals: { album: project } %>
  <% end %>
</div>

<div class="clearfix"></div>

<h2><i class="fa fa-fw fa-tags"></i> Tags</h2>

<h3>
  <%= @tags.map { |tag| widget_for tag }.join %>
</h3>

<h2><i class="fa fa-fw fa-users"></i> Persons</h2>

<h3>
  <%= @persons.map { |person| widget_for person }.join %>
</h3>
